/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/cs/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/de/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/es/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/fr/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/it/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/ja/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/ko/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/pl/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/pt-BR/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/ru/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/tr/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/zh-Hans/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/zh-Hant/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/Microsoft.Build.Locator.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.exe
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.exe.config
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/Microsoft.IO.Redist.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/Newtonsoft.Json.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/System.Buffers.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/System.Collections.Immutable.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/System.CommandLine.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/System.Memory.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/System.Numerics.Vectors.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/System.Runtime.CompilerServices.Unsafe.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-net472/System.Threading.Tasks.Extensions.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/cs/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/de/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/es/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/fr/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/it/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/ja/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/ko/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/pl/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/pt-BR/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/ru/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/tr/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/zh-Hans/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/zh-Hant/System.CommandLine.resources.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/Microsoft.Build.Locator.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.deps.json
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.runtimeconfig.json
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/Newtonsoft.Json.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/System.Collections.Immutable.dll
/TaskManager.API/bin/Debug/net10.0/BuildHost-netcore/System.CommandLine.dll
/TaskManager.API/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/cs/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/de/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/es/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/fr/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/it/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/ja/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/ko/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/pl/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/pt-BR/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/ru/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/runtimes/unix/lib/net9.0/Microsoft.Data.SqlClient.dll
/TaskManager.API/bin/Debug/net10.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/TaskManager.API/bin/Debug/net10.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/TaskManager.API/bin/Debug/net10.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/TaskManager.API/bin/Debug/net10.0/runtimes/win/lib/net9.0/Microsoft.Data.SqlClient.dll
/TaskManager.API/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/tr/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hans/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/TaskManager.API/bin/Debug/net10.0/zh-Hant/Microsoft.Data.SqlClient.resources.dll
/TaskManager.API/bin/Debug/net10.0/appsettings.Development.json
/TaskManager.API/bin/Debug/net10.0/appsettings.json
/TaskManager.API/bin/Debug/net10.0/AutoMapper.dll
/TaskManager.API/bin/Debug/net10.0/Azure.Core.dll
/TaskManager.API/bin/Debug/net10.0/Azure.Identity.dll
/TaskManager.API/bin/Debug/net10.0/BCrypt.Net-Next.dll
/TaskManager.API/bin/Debug/net10.0/FluentValidation.DependencyInjectionExtensions.dll
/TaskManager.API/bin/Debug/net10.0/FluentValidation.dll
/TaskManager.API/bin/Debug/net10.0/Humanizer.dll
/TaskManager.API/bin/Debug/net10.0/MediatR.Contracts.dll
/TaskManager.API/bin/Debug/net10.0/MediatR.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.Bcl.Cryptography.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.Build.Framework.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.Data.SqlClient.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Design.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.Identity.Client.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.Identity.Client.Extensions.Msal.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.IdentityModel.Abstractions.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.IdentityModel.JsonWebTokens.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.IdentityModel.Logging.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.IdentityModel.Tokens.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.OpenApi.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.SqlServer.Server.dll
/TaskManager.API/bin/Debug/net10.0/Microsoft.VisualStudio.SolutionPersistence.dll
/TaskManager.API/bin/Debug/net10.0/Mono.TextTemplating.dll
/TaskManager.API/bin/Debug/net10.0/Newtonsoft.Json.dll
/TaskManager.API/bin/Debug/net10.0/Swashbuckle.AspNetCore.Swagger.dll
/TaskManager.API/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/TaskManager.API/bin/Debug/net10.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/TaskManager.API/bin/Debug/net10.0/System.ClientModel.dll
/TaskManager.API/bin/Debug/net10.0/System.CodeDom.dll
/TaskManager.API/bin/Debug/net10.0/System.Composition.AttributedModel.dll
/TaskManager.API/bin/Debug/net10.0/System.Composition.Convention.dll
/TaskManager.API/bin/Debug/net10.0/System.Composition.Hosting.dll
/TaskManager.API/bin/Debug/net10.0/System.Composition.Runtime.dll
/TaskManager.API/bin/Debug/net10.0/System.Composition.TypedParts.dll
/TaskManager.API/bin/Debug/net10.0/System.Configuration.ConfigurationManager.dll
/TaskManager.API/bin/Debug/net10.0/System.IdentityModel.Tokens.Jwt.dll
/TaskManager.API/bin/Debug/net10.0/System.Memory.Data.dll
/TaskManager.API/bin/Debug/net10.0/System.Security.Cryptography.ProtectedData.dll
/TaskManager.API/bin/Debug/net10.0/TaskManager.API.deps.json
/TaskManager.API/bin/Debug/net10.0/TaskManager.API.dll
/TaskManager.API/bin/Debug/net10.0/TaskManager.API.exe
/TaskManager.API/bin/Debug/net10.0/TaskManager.API.pdb
/TaskManager.API/bin/Debug/net10.0/TaskManager.API.runtimeconfig.json
/TaskManager.API/bin/Debug/net10.0/TaskManager.API.staticwebassets.endpoints.json
/TaskManager.API/bin/Debug/net10.0/TaskManager.Application.dll
/TaskManager.API/bin/Debug/net10.0/TaskManager.Application.pdb
/TaskManager.API/bin/Debug/net10.0/TaskManager.Domain.dll
/TaskManager.API/bin/Debug/net10.0/TaskManager.Domain.pdb
/TaskManager.API/bin/Debug/net10.0/TaskManager.Infrastructure.dll
/TaskManager.API/bin/Debug/net10.0/TaskManager.Infrastructure.pdb
/TaskManager.API/obj/Debug/net10.0/EndpointInfo/TaskManager.API.json
/TaskManager.API/obj/Debug/net10.0/EndpointInfo/TaskManager.API.OpenApiFiles.cache
/TaskManager.API/obj/Debug/net10.0/ref/TaskManager.API.dll
/TaskManager.API/obj/Debug/net10.0/refint/TaskManager.API.dll
/TaskManager.API/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/TaskManager.API/obj/Debug/net10.0/ApiEndpoints.json
/TaskManager.API/obj/Debug/net10.0/apphost.exe
/TaskManager.API/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/TaskManager.API/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/TaskManager.API/obj/Debug/net10.0/rpswa.dswa.cache.json
/TaskManager.API/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/TaskManager.API/obj/Debug/net10.0/staticwebassets.build.json
/TaskManager.API/obj/Debug/net10.0/staticwebassets.build.json.cache
/TaskManager.API/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
/TaskManager.API/obj/Debug/net10.0/staticwebassets.removed.txt
/TaskManager.API/obj/Debug/net10.0/swae.build.ex.cache
/TaskManager.API/obj/Debug/net10.0/TaskMana.FE476EE3.Up2Date
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.AssemblyInfo.cs
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.AssemblyInfoInputs.cache
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.assets.cache
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.csproj.AssemblyReference.cache
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.csproj.BuildWithSkipAnalyzers
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.csproj.CoreCompileInputs.cache
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.csproj.FileListAbsolute.txt
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.dll
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.GeneratedMSBuildEditorConfig.editorconfig
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.genruntimeconfig.cache
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.GlobalUsings.g.cs
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.MvcApplicationPartsAssemblyInfo.cache
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.MvcApplicationPartsAssemblyInfo.cs
/TaskManager.API/obj/Debug/net10.0/TaskManager.API.pdb
/TaskManager.API/obj/project.assets.json
/TaskManager.API/obj/project.nuget.cache
/TaskManager.API/obj/TaskManager.API.csproj.nuget.dgspec.json
/TaskManager.API/obj/TaskManager.API.csproj.nuget.g.props
/TaskManager.API/obj/TaskManager.API.csproj.nuget.g.targets
/TaskManager.Application/bin/Debug/net10.0/TaskManager.Application.deps.json
/TaskManager.Application/bin/Debug/net10.0/TaskManager.Application.dll
/TaskManager.Application/bin/Debug/net10.0/TaskManager.Application.pdb
/TaskManager.Application/bin/Debug/net10.0/TaskManager.Domain.dll
/TaskManager.Application/bin/Debug/net10.0/TaskManager.Domain.pdb
/TaskManager.Infrastructure/obj/Debug/net10.0/ref/TaskManager.Infrastructure.dll
/TaskManager.Infrastructure/obj/Debug/net10.0/refint/TaskManager.Infrastructure.dll
/TaskManager.Infrastructure/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskMana.DD0CDC6B.Up2Date
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.AssemblyInfo.cs
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.AssemblyInfoInputs.cache
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.assets.cache
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.csproj.AssemblyReference.cache
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.csproj.BuildWithSkipAnalyzers
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.csproj.CoreCompileInputs.cache
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.csproj.FileListAbsolute.txt
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.dll
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.genruntimeconfig.cache
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.GlobalUsings.g.cs
/TaskManager.Infrastructure/obj/Debug/net10.0/TaskManager.Infrastructure.pdb
/TaskManager.Infrastructure/obj/project.assets.json
/TaskManager.Infrastructure/obj/project.nuget.cache
/TaskManager.Infrastructure/obj/TaskManager.Infrastructure.csproj.nuget.dgspec.json
/TaskManager.Infrastructure/obj/TaskManager.Infrastructure.csproj.nuget.g.props
/TaskManager.Infrastructure/obj/TaskManager.Infrastructure.csproj.nuget.g.targets
/TaskManager.Infrastructure/bin/Debug/net10.0/TaskManager.Application.dll
/TaskManager.Infrastructure/bin/Debug/net10.0/TaskManager.Application.pdb
/TaskManager.Infrastructure/bin/Debug/net10.0/TaskManager.Domain.dll
/TaskManager.Infrastructure/bin/Debug/net10.0/TaskManager.Domain.pdb
/TaskManager.Infrastructure/bin/Debug/net10.0/TaskManager.Infrastructure.deps.json
/TaskManager.Infrastructure/bin/Debug/net10.0/TaskManager.Infrastructure.dll
/TaskManager.Infrastructure/bin/Debug/net10.0/TaskManager.Infrastructure.pdb
/TaskManager.Infrastructure/bin/Debug/net10.0/TaskManager.Infrastructure.runtimeconfig.json
/TaskManager.Application/obj/Debug/net10.0/ref/TaskManager.Application.dll
/TaskManager.Application/obj/Debug/net10.0/refint/TaskManager.Application.dll
/TaskManager.Application/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/TaskManager.Application/obj/Debug/net10.0/TaskMana.898BD9DB.Up2Date
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.AssemblyInfo.cs
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.AssemblyInfoInputs.cache
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.assets.cache
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.csproj.AssemblyReference.cache
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.csproj.BuildWithSkipAnalyzers
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.csproj.CoreCompileInputs.cache
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.csproj.FileListAbsolute.txt
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.dll
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.GeneratedMSBuildEditorConfig.editorconfig
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.GlobalUsings.g.cs
/TaskManager.Application/obj/Debug/net10.0/TaskManager.Application.pdb
/TaskManager.Application/obj/project.assets.json
/TaskManager.Application/obj/project.nuget.cache
/TaskManager.Application/obj/TaskManager.Application.csproj.nuget.dgspec.json
/TaskManager.Application/obj/TaskManager.Application.csproj.nuget.g.props
/TaskManager.Application/obj/TaskManager.Application.csproj.nuget.g.targets
/TaskManager.Domain/bin/Debug/net10.0/TaskManager.Domain.deps.json
/TaskManager.Domain/bin/Debug/net10.0/TaskManager.Domain.dll
/TaskManager.Domain/bin/Debug/net10.0/TaskManager.Domain.pdb
/TaskManager.Domain/obj/Debug/net10.0/ref/TaskManager.Domain.dll
/TaskManager.Domain/obj/Debug/net10.0/refint/TaskManager.Domain.dll
/TaskManager.Domain/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.AssemblyInfo.cs
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.AssemblyInfoInputs.cache
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.assets.cache
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.csproj.BuildWithSkipAnalyzers
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.csproj.CoreCompileInputs.cache
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.csproj.FileListAbsolute.txt
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.dll
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.GeneratedMSBuildEditorConfig.editorconfig
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.GlobalUsings.g.cs
/TaskManager.Domain/obj/Debug/net10.0/TaskManager.Domain.pdb
/TaskManager.Domain/obj/project.assets.json
/TaskManager.Domain/obj/project.nuget.cache
/TaskManager.Domain/obj/TaskManager.Domain.csproj.nuget.dgspec.json
/TaskManager.Domain/obj/TaskManager.Domain.csproj.nuget.g.props
/TaskManager.Domain/obj/TaskManager.Domain.csproj.nuget.g.targets
